* {
  margin: 0;
  padding: 0;
}

#board {
  position: relative;
}

#hand {
  position: absolute; 
  bottom: 0;
}

.border-green {
  border: 4px solid green;
}

img {
  width: 80px;
  height: 111px;
}

.main-front, .enemy-zone {
  display: block;
  /*margin: 0 auto;*/
  /*margin: .2em .2em;*/
  float: left;
  background-color: goldenrod;
  width: 80px;
  height: 111px;
  border: 2px solid black;
}

.enemy-zone {
  background-color: red; 
}

.start-class {
  width: 20%;
  height: 20%;
}

.Archer {
  background: url("../../cards/Archer/Archer.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#board {
  margin-top: 2em;
}

#board, #stats {
  display: none;
}

.empty {
  display: block;
  /*margin-left: 2em;*/
  float: left;
  /*width: 98px;*/
  /*height: 138px;*/
  width: 80px;
  height: 111px;
  border: 1px solid white;
} 

#supersize {
  width: 20%; 
  height: 20%; 
  float:right; 
  margin-top:2em; 
  margin-right:1em;
  visibility: hidden;
}

#boss-stats {
  margin-top: 2em; 
  /*height: 50%;*/
  /*background-color: black;*/
  border: solid black 2px;
}

#player-stats {
  /*height: 50%;*/
  /*background-color: blue;*/
  border: solid black 2px;
}

#hand-row-placeholder {
  margin-top: 1em;
}

.active-card {
  border: solid yellow 2px;
}