* {
  margin: 0;
  padding: 0;
}

#board {
  position: relative;
  display: inline-block;
}

#hand {
  position: absolute;
  width: 100%;
  border-style: none;  
  bottom: 0;
}

#current-hero {
  position: absolute;
  display: none;
}

#play-field {
  width: 100%;
}

.border-green {
  border: 4px solid green;
}

img {
  width: 80px;
  height: 111px;
}

.board-tile {
  display: block;
  float: left;
  background-color: goldenrod;
  width: 80px;
  height: 111px;
  border: 2px solid black;
}

.start-class {
  width: 20%;
  height: 20%;
}

#board {
  margin-top: 2em;
  display: inline-block;
}

#board, #stats {
  display: none;
}

.empty {
  display: inline-block;
  /*margin-left: 2em;*/
  float: left;
  /*width: 98px;*/
  /*height: 138px;*/
  /*width: 80px;*/
  width: 30px;
  height: 111px;
  border: 1px solid white;
} 

#supersize {
  width: 20%; 
  height: 20%; 
  /*width: 15%;*/
  /*height: 15%;*/
  float:right; 
  margin-top:2em; 
  margin-right:1em;
  visibility: hidden;
}

#boss-stats {
  margin-top: 2em; 
  border: solid black 2px;
}

#player-stats {
  margin-top: 2em;
  border: solid black 2px;
}

#hand-row-placeholder {
  margin-top: 1em;
}

.active-card {
  border: solid yellow 2px;
}

#player-stats-title, #boss-stats-title{
  background-color: black; 
  color: white; 
  padding-top: 0; 
  margin-top: 0;
}