body {
  /*background: #fff url(../img/SwordKnight.jpg);*/
}

#invite-game-room {
  display: none;
}

#friend_list {
  width: 100%;
  height: 550px; 
  border: 2px solid black; 
  overflow: auto;
  background-color: white;
}

#chatbox {
  background-color: white;
  width: 100%; 
  height: 550px; 
  border: 2px solid black; 
  word-wrap: wrap;
  word-break: break-all;
  overflow: auto;
}

#user_list {
  width: 100%;
  height: 200px; 
  border: 2px solid black; 
  overflow: auto;
  background-color: white;
}

#game_list {
  width: 100%;
  height: 150px; 
  border: 2px solid black; 
  overflow: auto;
  background-color: white;
}

#message {
  width: 75%;
}