#invite-game-room {
  display: none;
}

#chatbox {
  background-color: lightblue;
  width: 100%; 
  height: 300px; 
  border: 2px solid black; 
  word-wrap: wrap;
  word-break: break-all;
  overflow: auto;
}

#user_list {
  width: 100%;
  height: 200px; 
  border: 2px solid black; 
  overflow: auto;
}

#game_list {
  width: 100%;
  height: 150px; 
  border: 2px solid black; 
  overflow: auto;
}

#message {
  width: 75%;
}