#chatbox {
  background-color: lightblue; 
  width: 500px; 
  height: 300px; 
  border: 2px solid black; 
  word-wrap: wrap;
  word-break: break-all;
  overflow: auto;
}

#box {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  background-color: lightpink;
  position: relative;
}

#square {
  width: 1000px;
  height: 1000px;
  border: 2px solid black;
}