{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block head %}
  <link href="{% static "home_page/css/creative.css" %}" rel="stylesheet">
{% endblock head %}

{% block body %}
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand page-scroll" href="#">Armory Card Game</a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="{% url "home_page:how-to-play" %}">How to Play</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url "home_page:lobby" %}">Lobby</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li>
                            <a class="page-scroll" href="{% url "home_page:logout" %}">Sign Out</a>
                        </li>
                    {% else %}                       
                        <li>
                            <a class="page-scroll" href="{% url "home_page:login" %}">Sign In</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Armory</h1>
                <hr>
                <p>Cooperative Card Game</p>
                <a href="{% url "home_page:how-to-play" %}" class="btn btn-primary btn-xl page-scroll">Learn How To Play</a>
            </div>
        </div>
    </header>
{% endblock body %}

{% block scripts %}
    
{% endblock scripts %}