{% extends "base.html" %}
{% load static %}

{% block title %}
    Login
{% endblock title %}

{% block head %}
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href={% static "font-awesome-4.7.0/css/font-awesome.min.css" %}>
    <!-- <link rel="stylesheet" type="text/css" href={% static "login/css/navbar.css" %}> -->
    <link rel="stylesheet" type="text/css" href={% static "login/css/login.css" %}>
{% endblock head %}

{% block body %}
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> -->
                  <!-- <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i> -->
              <!-- </button> -->
              <a class="navbar-brand page-scroll" href="{% url "home_page:home" %}">Armory Card Game</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a class="page-scroll" href="#">How to Play</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="{% url "home_page:lobby" %}">Lobby</a>
                  </li>
                  {% if user.is_authenticated %}
                      <li>
                          <a class="page-scroll" href="{% url "home_page:logout" %}">Sign Out</a>
                      </li>
                  {% else %}                       
                      <li>
                          <a class="page-scroll" href="{% url "home_page:login" %}">Sign In</a>
                      </li>
                  {% endif %}
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
  </nav>

















  <div class="container">     
      <header>
          <!-- <h1>Login Form</h1> -->
          <!-- <h1>nbps;</h1> -->
      </header>
      <section>       
          <div id="container_demo" >
              <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
              <a class="hiddenanchor" id="toregister"></a>
              <a class="hiddenanchor" id="tologin"></a>
              <div id="wrapper">
                  <div id="login" class="animate form">
                      <!-- <form  action="mysuperscript.php" autocomplete="on"> -->
                      <form method="post">
                        {% csrf_token %}
                        <h1>Log in</h1> 

                        {{ form.label_tag }}
                        {{ form }}
                        <p class="login button"> 
                          <input type="submit" value="Login" /> 
                        </p>
                      </form>
                  </div>
              </div>
          </div>  
      </section>
  </div>  
{% endblock body %}

{% block scripts %}
    <script src="{% static "bootstrap-3.3.7-dist/js/bootstrap.min.js" %}"></script>
{% endblock scripts %}