{% extends "base.html" %}
{% load static %}

{% block title %}
    {% for name in room %}
      Armory: {{name}}
    {% endfor %}
{% endblock title %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "game/css/game.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap-3.3.7-dist/css/bootstrap-theme.min.css"%}">
{% endblock head %}

{% block body %}

<div class="col-md-3" id="stats">
  <div id="boss-stats">
    <h1 class="text-center" id="boss-stats-title"></h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Health</th>
          <th>Armor</th>
          <th>Attack</th>
          <th>Range</th>
        </tr>
      </thead>
      <tbody id="boss-stats-body"></tbody>
    </table>
  </div>
  <div id="boss-spells">
    <h1 class="text-center"><strong>Boss Spells</strong></h1>
  </div>
  <br>
  <div id="player-stats">
    <h1 class="text-center" id="player-stats-title"><strong>Player Info</strong></h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>User</th>
          <th>Class</th>
          <th>Hp</th>
          <th>Def</th>
          <th>Dmg</th>
          <th>Range</th>
        </tr>
      </thead>
      <tbody id="player-stats-body"></tbody>
    </table>
  </div>
  <button 
    class="btn btn-info pull-right" 
    id="end-turn-button" 
    onclick="change_player()" 
    disabled="disabled">
    End Turn
  </button>
  <div>
    <h1 class="text-center" id="current-player-buffs-title"><strong>Buffs</strong></h1>
    <div id="current-player-buffs"></div>
  </div>
</div>
<div class="col-md-6" id="board">  
  <div id="play-field">
    <div class="col-md-11 col-row">
      <img class="board-tile card" id="tile-04" src="" alt="">
      <img class="board-tile card" id="tile-14" src="" alt="">
      <img class="board-tile card" id="tile-24" src="" alt="">
      <img class="board-tile card" id="tile-34" src="" alt="">
      <img class="board-tile card" id="tile-44" src="" alt="">
      <img class="board-tile card" id="tile-54" src="" alt="">
      <img class="board-tile card" id="tile-64" src="" alt="">
    </div>
    <div class="col-md-11 col-row">
      <img class="board-tile card" id="tile-03" src="" alt="">
      <img class="board-tile card" id="tile-13" src="" alt="">
      <img class="board-tile card" id="tile-23" src="" alt="">
      <img class="board-tile card" id="tile-33" src="" alt="">
      <img class="board-tile card" id="tile-43" src="" alt="">
      <img class="board-tile card" id="tile-53" src="" alt="">
      <img class="board-tile card" id="tile-63" src="" alt="">
    </div>
    <div class="col-md-11 col-row">
      <img class="board-tile card" id="tile-02" src="" alt="">
      <img class="board-tile card" id="tile-12" src="" alt="">
      <img class="board-tile card" id="tile-22" src="" alt="">
      <img class="board-tile card" id="tile-32" src="" alt="">
      <img class="board-tile card" id="tile-42" src="" alt="">
      <img class="board-tile card" id="tile-52" src="" alt="">
      <img class="board-tile card" id="tile-62" src="" alt="">
    </div>
    <div class="col-md-11 col-row">
      <img class="board-tile card" id="tile-01" src="" alt="">
      <img class="board-tile card" id="tile-11" src="" alt="">
      <img class="board-tile card" id="tile-21" src="" alt="">
      <img class="board-tile card" id="tile-31" src="" alt="">
      <img class="board-tile card" id="tile-41" src="" alt="">
      <img class="board-tile card" id="tile-51" src="" alt="">
      <img class="board-tile card" id="tile-61" src="" alt="">
    </div>
    <div class="col-md-11 col-row">
      <img class="board-tile card" id="tile-00" src="" alt="">
      <img class="board-tile card" id="tile-10" src="" alt="">
      <img class="board-tile card" id="tile-20" src="" alt="">
      <img class="board-tile card" id="tile-30" src="" alt="">
      <img class="board-tile card" id="tile-40" src="" alt="">
      <img class="board-tile card" id="tile-50" src="" alt="">
      <img class="board-tile card" id="tile-60" src="" alt="">
    </div>
    <div class="col-md-10">
    <!-- creates extra row for hand -->
      <div class="empty" id="hand-row-placeholder"></div>
    </div>
    <div class="col-md-10" id="hand">
      <img class="card pull-left playable-from-hand" id="ability-slot" src="" alt="">
      <img class="card pull-left playable-from-hand" id="ultimate-slot" src="" alt="">
      <div class="empty" id="empty-hand-placeholder"></div>
      <div id="random-cards-drawn"></div>
    </div>
  </div>  
</div>


<div class="container" id="pick-class-header">
  <div id="user-waiting-div" class="container col-md-6 text-center">
    <div id="user-waiting">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Username</th>
            <th>Class Chosen</th>
            <th>Ready</th>
          </tr>
        </thead>
        <tbody id="user-waiting-body"></tbody>
      </table>
    </div>  
  </div>

  <div class="col-md-3 pull-right">
    {% for name in room %}
      <h3><strong>Room name: {{name}}</strong></h3>
    {% endfor %}
      <h3><strong>User: {{current_user}}</strong></h3>
    <button class="btn btn-danger" onclick="exit_game()">
      Exit Game Room
    </button>
  </div>

</div>

<!-- causes errors when displaying with div container so need to make 2nd one -->
<div id="game-title-outside-container" class="col-md-3 pull-right">
  {% for name in room %}
    <h3><strong>Room name: {{name}}</strong></h3>
  {% endfor %}
    <h3><strong>User: {{current_user}}</strong></h3>
  <button class="btn btn-danger" onclick="exit_game()">
    Exit Game Room
  </button>
</div>

<div class="container" id="pick-class">
  <h2 class="col-md-11 text-center" id="pick-class-title">Choose a Deck</h2>
  <div id="pick-class-images" class="text-center">
    {% for hero in heroes %}
      <img class="start-class" 
        id="{{hero.name}}" 
        src="{{hero.image.url}}" 
        alt="{{hero.name}}">   
    {% endfor %}
  </div>
</div>
<div id="game-room-user-ready" class="text-center container">
    <button id="game-room-ready-btn" onclick="ready_character_selection()" class="btn btn-info">
      READY
    </button>
    <button id="game-room-cancel-btn" onclick="cancel_character_selection()" class="btn btn-warning">
      CANCEL
    </button>
</div>
<!-- 
  add button here for ready
  which disable onclick hero selection
  add window to display users in room
  add background when user is ready to play the game
  update game status to inprogress
  update lobby status to game to inprogress
  after all users are ready, 
  having waiting for other players  
 -->
<img class="card pull-left movable-card" id="current-hero" src="" alt="">
<img class="pull-left" id='supersize' src='' alt='superimage'>
{% endblock body %}

{% block scripts %}
  <script src="{% static "jquery/jquery-ui.min.js" %}"></script>
  <script src="{% static "bootstrap-3.3.7-dist/js/bootstrap.min.js" %}"></script>
  <script src="{% static "game/js/game.socket.js" %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static "game/js/game.js" %}" type="text/javascript" charset="utf-8"></script>
  <script>
  function exit_game() {
    window.location.replace("{% url "home_page:lobby" %}");
  }
  </script>
{% endblock scripts %}