{% extends "base.html" %}
{% load static %}

{% block title %}
    {{title}}
{% endblock title %}

{% block head %}
<!-- <link rel="alternate" href="{% static "bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static "lobby/css/lobby.css" %}">
{% endblock head %}

{% block body %}
<br><br>

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand page-scroll" href="{% url "home_page:home" %}">Armory Card Game</a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="{% url "home_page:how-to-play" %}">How to Play</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#">Lobby</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li>
                            <a class="page-scroll" href="{% url "home_page:logout" %}">Sign Out</a>
                        </li>
                    {% else %}                       
                        <li>
                            <a class="page-scroll" href="{% url "home_page:login" %}">Sign In</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>


  <div class="container">
    <div class="row">    
      <div id="lobby-component" class="col-md-5">
        <h1>Welcome {{current_user}}</h1>
        <div class="btn-group" id="create-game-room">
          <form class="form-inline" method="post" accept-charset="utf-8">
            {% csrf_token %}
            <p>
              <label>              
                {{form.room_name.label}}:
              </label>
              {{form.room_name}}
              {{form.room_name.errors}}
            </p>
            <button class="btn btn-info" type="submit">Create Game Room</button>
          </form>
        </div>
        <div id="invite-game-room"></div>
        <div>
          <h2>Users in Lobby</h2>
          <ul id="user_list" class="list-group"></ul>
        </div>
        <div>
          <h2>Active Game Rooms</h2>
          <ul id="game_list" class="list-group"></ul>
        </div>
      </div>
      <div id="chat-component pull-right" class="col-md-4"> 
        <h2>Chatroom</h2>   
        <div id="chatbox"></div>
        <div id="end-chat"></div>
        <input id="message" type="text" placeholder="enter message">
        <button type="submit" onclick="send_message()" class="btn btn-primary">Send</button>
      </div>
      <div id="friend-component pull-right" class="col-md-3">
        <h2>Friends list</h2> 
        <div id="friend_list"></div>
      </div>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content" id="invite-modal-content"></div>
  </div>
</div>
{% endblock body %}

{% block scripts %}
  <!-- <script src="{% static "greensock-js/src/minified/TweenMax.min.js" %}"></script> -->
  <!-- <script src="{% static "greensock-js/src/minified/utils/Draggable.min.js" %}"></script> -->
  <script src="{% static "bootstrap-3.3.7-dist/js/bootstrap.min.js" %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static "lobby/js/lobby.js" %}" type="text/javascript" charset="utf-8"></script>
{% endblock scripts %}