{% extends "base.html" %}
{% load static %}

{% block title %}
    {{title}}
{% endblock title %}

{% block head %}
<!-- <link rel="alternate" href="{% static "bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static "lobby/css/lobby.css" %}">
{% endblock head %}

{% block body %}
<br><br><br><br>
  <div class="container">
      <h1>Welcome {{current_user}}</h1>
  </div>


  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand page-scroll" href="{% url "home_page:home" %}">Armory Card Game</a>
        </div>
        <div>
          <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="page-scroll" href="#">Lobby</a>
            </li>
            {% if user.is_authenticated %}
                <li>
                    <a class="page-scroll" href="{% url "home_page:logout" %}">Sign Out</a>
                </li>
            {% else %}                       
                <li>
                    <a class="page-scroll" href="{% url "home_page:login" %}">Sign In</a>
                </li>
            {% endif %}
          </ul>
        </div>
    </div>
  </nav>


  <div class="container">
    <div class="row">    
      <div id="lobby-component" class="col-md-6">
        <div class="btn-group">
          <form class="form-inline" method="post" accept-charset="utf-8">
            {% csrf_token %}
            {{form}}
            <button class="btn btn-info" type="submit">Create Game Room</button>
          </form>
        </div>
        <div>
          <h2>Users in Lobby</h2>
          <ul id="user_list" class="list-group"></ul>
        </div>
        <div>
          <h2>Active Game Rooms</h2>
          <ul id="game_list" class="list-group"></ul>
        </div>
      </div>
      <div id="chat-component pull-right" class="col-md-6"> 
        <h2>Chatroom</h2>   
        <div id="chatbox"></div>
        <div id="end-chat"></div>
        <input id="message" type="text" placeholder="enter message">
        <button type="submit" onclick="send_message()" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
{% endblock body %}

{% block scripts %}
  <!-- <script src="{% static "greensock-js/src/minified/TweenMax.min.js" %}"></script> -->
  <!-- <script src="{% static "greensock-js/src/minified/utils/Draggable.min.js" %}"></script> -->
  <script src="{% static "bootstrap-3.3.7-dist/js/bootstrap.min.js" %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static "lobby/js/lobby.js" %}" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
    // function toggle_create() {
    //   $("#create_game").toggle();
    // }
    // let test = [];
    // let i = 0;
    // {% for user in users_online %}
    //   test[i] = "{{ user }}";
    //   i++;
    // {% endfor %}
    //   setInterval(() => {
    //     $("#user_list").empty();
    //     test.forEach((user) => {
    //       $("#user_list").append("<li>" + user + "</li>");
    //       console.log(user);
    //     }) 
    //   }, 3000);
  </script>
{% endblock scripts %}