{% extends "base.html" %}
{% load static %}

{% block title %}
    Chatroom
{% endblock title %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "lobby/css/lobby.css" %}">
{% endblock head %}

{% block body %}
<br><br><br><br>
  <div class="container">
      <h1>Welcome {{current_user}}</h1>
  </div>


  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> -->

                <!-- <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i> -->
            <!-- </button> -->
            <a class="navbar-brand page-scroll" href="{% url "home_page:home" %}">Armory Card Game</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#">Lobby</a>
                </li>
                {% if user.is_authenticated %}
                    <li>
                        <a class="page-scroll" href="{% url "home_page:logout" %}">Sign Out</a>
                    </li>
                {% else %}                       
                    <li>
                        <a class="page-scroll" href="{% url "home_page:login" %}">Sign In</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    <!-- </div> -->
    <!-- /.container-fluid -->
  </nav>

<!-- <h1>numbers:</h1> -->
<!-- {% for number in numbers %} -->
  <!-- <h1>{{number}}</h1> -->
<!-- {% endfor %} -->
<!-- {{room_id}} -->

  <div class="container">
    <div class="row">    
      <div id="lobby-component" class="col-md-6">
        <div class="btn-group">
          <a href="{% url "home_page:game" room_id %}" class="btn btn-info">Create Game</a>
          <!-- <button class="btn btn-info">Join Game</button> -->
          <!-- <a class="btn btn-info" style="border: 1px solid black">Invite Player</a> -->
        </div>
        <div>
        <h2>Users in Lobby</h2>
        <ul id="user_list" class="list-group"></ul>
        </div>
      </div>
      <div id="chat-component pull-right" class="col-md-6"> 
        <h2>Chatroom</h2>   
        <div id="chatbox"></div>
        <div id="end-chat"></div>
        <input id="message" type="text" placeholder="enter message">
        <button type="submit" onclick="send_message()" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>

<!-- <div class=container> -->
  <!-- <div id="square"> -->
    <!-- <div id="box"></div> -->
  <!-- </div> -->
<!-- </div> -->
{% endblock body %}

{% block scripts %}
  <script src="{% static "greensock-js/src/minified/TweenMax.min.js" %}"></script>
  <script src="{% static "greensock-js/src/minified/utils/Draggable.min.js" %}"></script>
  <script src="{% static "lobby/js/lobby.js" %}" type="text/javascript" charset="utf-8"></script>
  <!-- <script src="{% static "lobby/js/user_login_notification.js" %}" type="text/javascript" charset="utf-8"></script> -->
  <script type="text/javascript">
    // let test = [];
    // let i = 0;
    // {% for user in users_online %}
    //   test[i] = "{{ user }}";
    //   i++;
    // {% endfor %}
    //   setInterval(() => {
    //     $("#user_list").empty();
    //     test.forEach((user) => {
    //       $("#user_list").append("<li>" + user + "</li>");
    //       console.log(user);
    //     }) 
    //   }, 3000);
  </script>
{% endblock scripts %}